
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/javascripts/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="/javascripts/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <style media="screen">
      .container-fluid{
        padding-left: 350px;
      }
    </style>
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="mt-4">Sign In</h1>
          <div class="row mt--2">
            <div class="col-md-6">
              <div class="card full-height bg-light">
                <div class="card-body ">
                  <div class="card-title">Sign In</div>
                  <div class="card-category">Hey Guy, Please Sign In To Your Account</div>
                  <!-- <div class="d-flex flex-wrap justify-content-around pb-2 pt-4"> -->
                  <form action="/signin" method="post">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>

                        <input type="checkbox" class="form-check-input" id="rememberMe">Remember Me
                    <div class="card-action">
                       <button type="submit" class="btn btn-success">Sign In</button>
                      <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                    <!-- <div class="card-footer text-center">
                        <div class="small"><a href="/signup">Need an account? Sign up!</a></div>
                    </div> -->
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
  <script type="text/javascript">
    $('#rememberMe').click(function() {
      if ($(this).prop('checked') == true) {
        console.log('call');
        Cookies.set('email1', $('#email').val(), {
          expires: 10
        });
      } else {
        Cookies.remove('email1');
      }
    });
    if (Cookies.get('email1')) {
      $('#email').val(Cookies.get('email1'));
      $('#rememberMe').prop('checked', true);
    }
  </script>
</html>
